.vanilla-zoom {
    display: flex;
    width: 50%;
}
.sidebar {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}
.small-preview {
    width: 100%;
    cursor: pointer;
    margin: 2px;
}
.zoomed-image {
    flex: 1;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    margin-left: 5px;
}